.bg-navy {
    background-color: rgb(26, 55, 77) !important;
}
.bg-blue {
    background-color: #406882 !important;

}
.bg-cold{
    background-color: rgb(105, 152, 171) !important;
}
.bg-ligth{
    background-color: rgb(177, 208, 224) !important;
}
.bg {
    background-color:#ADD2C9 !important;
}

.playler {
    background-color: #3B6978 !important;
}

